{% extends "base.html" %}
{% block content %}
<div class="card-wrapper-item">

  <!-- <div class="card">

    <h1 class="center">Dashboard</h1>
    <p class="center">You are currently logged in.</p>

    <div class="center">
      <a href="/user/logout" class="btn btn-primary">Log Out</a>
    </div>

  </div> -->
    <!-- <h2 class="center">Your Info</h2>

    <p>
      <strong>ID:</strong> {{ session['user']['_id']['$oid'] }}<br>
      <strong>Name:</strong> {{ session['user']['name'] }}<br>
      <strong>Email:</strong> {{ session['user']['email'] }}
    </p> -->
    
    <button id="myDIV" type="button" class="mt-5 custom-btn btn-12 w-25" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <span class="w-100">Join Classroom</span><span class="w-100">Join Classroom</span>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Join Classroom</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row needs-validation" novalidate name="join_class" action="/dashboard/join" method="post">
              <div class="col-lg">
                <label for="validationCustom01" class="form-label">Enter Classroom Code</label>
                <input type="text" class="form-control w-75" id="validationCustom01" placeholder="eg. XYZ-ABC" required
                  name="code">
              </div>
              <input type="submit" value="Join Classroom" class="custom-btn btn-3 w-50">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-wrapper-item">

    {% if not classroom %}
    <div class="card">
      <h6 class="center">No Classroom has been Created</h6>
    </div>
    {% endif %}
    {%for i in range(0,Length)%}
    <div class="card-class-2">
      <div class="semi-circle">
          <h2>{{classroom[i]["cname"]}}</h2>
      </div>
      <img src="../static/assets/3895251.jpg" class="img-center" alt="...">
      <div class="content">
        <p class="card-text">Teachers : {{classroom[i]["teacher"]|length}}</p>
        <a href="{{url_for('enter_class',id = classroom[i]['cid'])}}" class="w-100">View Class</a>
      </div>
    </div>
    {%endfor%}
  </div>
{% endblock %}