{% extends "base.html" %} 
{% block content %}
<div class="card-wrapper-item mt-5">
	<div class="card-item">
		<h1 class="center">Log In</h1>

		<form name="login_form" action="/user/login" method="post">
			<label for="email">Email</label><i class="fa fa-envelope mx-2" style="font-size: large"></i>
			<input type="email" name="email" class="field" required />

			<label for="password">Password</label><i class="fa fa-lock mx-2" style="font-size: x-large"></i>
			<input type="password" name="password" class="field" required />
			<!-- <div class="center">
                <label for="teacher">Teacher</label>
                <input type="radio" name="isTeacher" value="teacher" id="teacher">
            </div> -->
			{% if error_msg %}
			<p class="error">
					{{error_msg}}
			</p>
			{% endif %}

			<input type="submit" value="Log In" class="custom-btn btn-3" />

			<div class="center">
				<a href="/signupform" class="custom-btn btn-14 text-decoration-none">Sign Up</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
