{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
    <div class="card">

        <h1 class="center">Log In</h1>

        <form name="login_form">

            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>
            <div class="center">
                <label for="teacher">Teacher</label>
                <input type="radio" name="user_type" value="teacher" id="teacher">
                <!-- <label for="student">Student</label>
                <input type="radio" name="user_type" value="student" id="student"> -->
              </div>
            <p class="error error--hidden"></p>

            <input type="submit" value="Log In" class="btn">

            <div class="center">
                <a href="/" class="btn btn--secondary">Sign Up</a>
            </div>

        </form>

    </div>

</div>
{% endblock %}